<form action="/posts" method="post">
  <label>Post name: <input type="text" name="name"></label>
  <label><textarea name="content" rows="8" cols="80"></textarea></label>
  <input type="submit" value="submit">
</form>
